.App {
  text-align: center;
}

.App-header {
  background-color: #6da1e6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

